<div class="container container-about">
    <div class="d-flex align-items-start">
        <h1 class="text-uppercase">about me</h1>
    </div>
    <div class="text-justify">
        <img class="filter img-fluid " src="./../../../../assets/d1.png" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, magni officiis optio, tempore veritatis
            voluptas eligendi voluptatibus cupiditate culpa quas temporibus voluptate nobis quam ullam obcaecati
            enim doloremque laboriosam a.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, magni officiis optio, tempore veritatis
            voluptas eligendi voluptatibus cupiditate culpa quas temporibus voluptate nobis quam ullam obcaecati
            enim doloremque laboriosam a.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, magni officiis optio, tempore veritatis
            voluptas eligendi voluptatibus cupiditate culpa quas temporibus voluptate nobis quam ullam obcaecati
            enim doloremque laboriosam a.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, magni officiis optio, tempore veritatis
            voluptas eligendi voluptatibus cupiditate culpa quas temporibus voluptate nobis quam ullam obcaecati
            enim doloremque laboriosam a.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, magni officiis optio, tempore veritatis
            voluptas eligendi voluptatibus cupiditate culpa quas temporibus voluptate nobis quam ullam obcaecati
            enim doloremque laboriosam a.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, magni officiis optio, tempore veritatis
            voluptas eligendi voluptatibus cupiditate culpa quas temporibus voluptate nobis quam ullam obcaecati
            enim doloremque laboriosam a.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, magni officiis optio, tempore veritatis
            voluptas eligendi voluptatibus cupiditate culpa quas temporibus voluptate nobis quam ullam obcaecati
            enim doloremque laboriosam a.</p>
    </div>
</div>